
.dataContainer {
	--list-item-text-color: white;
	--list-item-counter-background: #2E4A5F;
	--list-item-background: #e3dedc;
	margin-left: 0;
	list-style: none;
	counter-reset: li;
  }
  .dataContainer li {
	padding: 10px 0;
	position: relative;
	margin-bottom: 0.75em;
	padding-left: 1em;
	background: var(--list-item-background);
  }
  .dataContainer li:before {
	padding: 10px 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1.5em;
	width: 1.875em;
	text-align: center;
	color: var(--list-item-text-color);
	font-weight: bold;
	background: var(--list-item-counter-background);
	border-bottom-left-radius: 70em;
	border-top-left-radius: 70em;
	counter-increment: li;
	content: counter(li);
  }

  .btn {
    color: #fff;
	background-color: #5E8340;
    border-color: #5E8340;
	border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	padding: 6px 8px;
    cursor: pointer;
	margin-left: 10px;
}

.btnDel {
	background-color: #945D47;
}
.textDecoration{
	text-decoration: line-through
}

