.conteiner {
	margin-left: 2%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-width: 1px;
    border-radius: 0.5rem;
    align-items: center;
    max-width: 500px;
    display: flex;
	background-color: #e3dedc;

}

.input{
	padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
	border-width: 1px;
	border-radius: 0.5rem;
	display: flex;
	height: 2.2rem;
	align-items: center;
	width: 80%;
}
.btnScr{
	margin-left: 5px;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
	padding-left: 1rem;
    padding-right: 1rem;
	border-radius: 0.5rem;
	align-items: center;
	height: 2.2rem;
	display: inline-flex;
	cursor: pointer;
}
.btnScrActive{
	background-color: #5E8340;
}
*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.btn {
    color: #fff;
	background-color: #5E8340;
    border-color: #5E8340;
	border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
	padding: 6px 8px;
    cursor: pointer;
	margin-left: 5px;
}
